<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553018297845-a2jh0u70rv8enubdfj4inj7p33uco2eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553018297845-a2jh0u70rv8enubdfj4inj7p33uco2eq</string>
	<key>API_KEY</key>
	<string>AIzaSyBbUeqCijzoLoCRBmj6ZLTsImlI5bDOoqo</string>
	<key>GCM_SENDER_ID</key>
	<string>553018297845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.Helpoween.com</string>
	<key>PROJECT_ID</key>
	<string>helpoween</string>
	<key>STORAGE_BUCKET</key>
	<string>helpoween.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553018297845:ios:9f685f2f07d33557b024bc</string>
	<key>DATABASE_URL</key>
	<string>https://helpoween.firebaseio.com</string>
</dict>
</plist>